@CHARSET "UTF-8";
table, td{
	border:1px solid black;
}

#addStudentDiv1,#addSchoolButton,#addContentResultDiv{
	display:none;
}

span.textbox{
	width:200px;
}

td.loaded{
	text-align:center;
	color:#ff00ff;
}
